export(ATA)
export(ATA.Accuracy)
export(ATA.CI)
export(ATA.Decomposition)
export(ATA.Forecast)
export(ata.seasonal.attr)
export(ATA)
export(ATA.Accuracy)
export(ATA.CI)
export(ATA.Core)
export(ATA.Decomposition)
export(ATA.Forecast)
export(ATA.Inv.Transform)
export(ATA.Shift)
export(ATA.Transform)
export(AutoATA.Accuracy)
export(AutoATA.Auto)
export(AutoATA.Core)
export(AutoATA.Damped)
export(AutoATA.Forecast)
export(SeasonalityTest)
export(ata.seasonal.attr)
export(find.freq)
export(find.freq.all)
export(plot.ata)
export(print.ata)
import(Rcpp)
import(RcppArmadillo)
import(forecast)
import(seasonal)
import(stR)
import(stlplus)
import(timeSeries)
import(urca)
import(xts)
import(Mcomp)
useDynLib(ATAforecasting, .registration = TRUE)
